body {
	background-color: #F1F1F1;
}

h3 {
	font-size: 20px;
}

th[scope="col"] ul {
	display: inline-block;
	padding: 0;
	margin: 0;
}

#estimate {
	width: 100px;
}

th[scope="col"] ul li{
	display: inline-block;
	padding: 0;
	margin: 0;
}

#number-col {
	width: 2%;
}

.tooltip {
	color: #fafafa;
	margin-bottom: 20px;
}

.tooltip-inner {
	background-color: #212529;
}
.button-modal {
	display: inline;
	margin: 0;
	padding: 0;
	margin-left: 200px;
	margin-right: -200px;
	
}
input[type="number"] {
	margin: 0;
	padding: 0;
	width: 100px;
	text-align: center;
}
.est_success {
	position: absolute;
	width: 92%;
	margin: 0% 5% 0 3%;
	background-color: #DFF0D8;
	color: #3C763D;
	padding: 0.75rem 1.25rem;
  	margin-bottom: 1rem;
  	border: 1px solid transparent;
  	border-radius: 0.25rem;
}

.table {
	width: 92%;
	margin: 5% 5% 0 3%;
	float: left;
}


#add_prst_modal {
	margin-top: 5%;
}
#add_prst_modal .modal-content {
    height: 70%;
}   

.modal-dialog {
 	height: 500px !important;
}

input#add {
	display: none;
}

input[type=time] {
	margin: 0; 
}

.timepicker {
	width: 200px;
	margin: 0 auto;
}

.est-add {
	text-align: center;
}

.est-add input[type="time"], input[type="text"], select {
	width: 200px;
}

.est-add input[type="submit"] {
	float: right;
	margin-left: 15px;
}